body{
	min-width: 600px;
	margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: #FBEFD1;
    color: black;
}

.container{
	max-width: 1024px;
	min-width: 512px;
	margin: 0 auto;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

.head,
.footer{
	background-color: #2E2006;
	width: auto;
}

.logo{
	float: left;
	border-radius: 20px;
}

.buttons{
	float: right;
	height: 75px;
}
.buttons ul{
	margin: 19px 0;
	height: 37px;
}

.buttons li:hover{
	background-color: #3C2A09;
}

.buttons li:active{
	background-color: inherit;
	border-color: #8A6542;
	color: #8A6542;
}

.logo-and-btn{
	padding: 10px;
}

.logo-and-btn li{
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	float: right;
	list-style: none;
	margin-right: 30px;	
	padding: 5px;
	border: 1px solid #FDDF94;
	border-radius: 5px;
}

.logo-and-btn a{
	color: #FDDF94;
	text-decoration: none;
}

h1{
	margin: 5px auto 10px;
	font-family: "Arial" serif;
	font-size: 48px;
	line-height: 50px;
	color: #FAE9CA;
	text-align: center;
	line-height: auto;
}

.navigation{
	width: auto;
	margin: 0 auto;
	text-align: center;
}

.navigation ul{
	display: block;
	padding-left: 0;
	font-size: 0;
	line-height: 0;
}

.navigation li{		
	text-transform: uppercase;
	text-decoration: none;
	list-style: none;
	padding: 5px;
	font-size: 18px;
	line-height: 24px;		
}

.navigation a{	
	display: inline-block;
	border: 1px solid #2E2006;
	color: #FDDF94;
	text-decoration: none;
}

.navigation a:hover{
	background-color: #3C2A09;
	color: #FDDF94;
}

.navigation a:active{
	background-color: inherit;
	border-color: #8A6542;
	color: #8A6542;
}

h2 {
	text-align: center;	
}

.features ul{
	display: table;
	border-collapse: collapse;
	text-align: center;
}

.features li{
	display: table-cell;
	list-style: none;
	width: 300px;
	margin-top: 15px;
	text-align: center;
	border: 1px solid black;
	font-size: 20px;
	padding: 23px 0;
}

.features li:last-child{
	margin-right: 0;
}