body{
	min-width: 600px;
	margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: #FBEFD1;
    color: black;
}

@font-face {
    font-family: 'Magnolia Script';
    src: local('Magnolia Script'), local('Magnolia-Script'), 
    url('fonts/Magnoliascript.woff2') format('woff2'), 
    url('fonts/Magnoliascript.woff') format('woff'), 
    url('fonts/Magnoliascript.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.container{
	max-width: 1024px;
	min-width: 512px;
	margin: 0 auto;
}

.clearfix:after{
	content: "";
	display: table;
	clear: both;
}

header,
footer{
	background-color: #2E2006;
	width: auto;
}

main{
	display: block;
}

.logo{
	float: left;
}

.buttons{
	float: right;
	height: 75px;
}
.buttons ul{
	margin: 19px 0;
	height: 37px;
}

.buttons li:hover{
	background-color: #3C2A09;
}

.buttons li:active{
	background-color: inherit;
	border-color: #8A6542;
	color: #8A6542;
}

.logo-and-btn{
	padding: 10px;
}

.logo-and-btn li{
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	float: right;
	list-style: none;
	margin-right: 30px;	
	padding: 5px;
	border: 1px solid #FDDF94;
	border-radius: 5px;
}

.logo-and-btn a{
	color: #FDDF94;
	text-decoration: none;
}

body h1{
	margin: 5px auto 10px;
	font-family: "Magnolia Script", "Arial";
	font-size: 50px;
	line-height: 55px;
	color: #D4B783;
	text-align: center;
	line-height: auto;
}

.navigation{
	width: auto;
	margin: 0 auto;
	text-align: center;
}

.navigation ul{
	display: block;
	padding-left: 0;
	font-size: 0;
	line-height: 0;
}

.navigation li{		
	text-transform: uppercase;
	text-decoration: none;
	list-style: none;
	padding: 5px;
	font-size: 18px;
	line-height: 24px;		
}

.navigation a{	
	display: inline-block;
	border: 1px solid #2E2006;
	color: #FDDF94;
	text-decoration: none;
}

.navigation a:hover{
	background-color: #3C2A09;
	color: #FDDF94;
}

.navigation a:active{
	background-color: inherit;
	border-color: #8A6542;
	color: #8A6542;
}

h2 {
	text-align: center;	
	font-size: 30px;
	line-height: 35px;
}

.features ul{
	display: block;
	border-collapse: collapse;
	text-align: center;
}

.features li{
	display: inline-block;
	position: relative;
	list-style: none;
	width: 25%;
	margin-top: 15px;
	text-align: center;
	border-right: 1px solid black;
	font-size: 25px;
	padding: 90px 0 23px;
	font-weight: bold;
}

.features li:last-child{
	margin-right: 0;
	border: none;
}

.features li.sleep::before,
.features li.run::before,
.features li.bite::before{
	content: "";
	position: absolute;
	width: 100px;
	height: 100px;	
}

.features li.sleep::before{		
	background: url('images/sleep.png') no-repeat;
	background-size: 100px;		
	top: 0;
	left: 74px;
}

.features li.run::before{
	background: url('images/run.png') no-repeat;
	background-size: 65px;	
	top: 20px;	
	left: 90px;
}

.features li.bite::before{
	background: url('images/bite.png') no-repeat;
	background-size: 55px;	
	top: 21px;	
	left: 90px;
}

h3{
	font-size: 25px;
	line-height: 27px;
	font-style: italic;
}

.info-item{
	margin-bottom: 5px;
	width: 768px;
	border-radius: 5px;
	padding: 5px 10px;
}

.info-item{
	transition: 0.5s;
	background-color: rgba(46, 32, 6, 1);
	color: #FBEFD1;
}

.info-item:hover{
	background-color: rgba(46, 32, 6, 0.1);
	color: black;	
}

.info-item:nth-of-type(2){
	margin-left: 85px;
}

.info-item:nth-of-type(3){
	margin-left: 171px;
}

.info-item:nth-of-type(4){
	margin-left: 256px;
}

.info-item span{
	display: block;
	width: 100%;
	text-align: justify;
}

.all-photos{
	display: block;
	margin: auto;
	overflow: hidden;
	height: 330px;
	width: 900px;
}

.all-photos .slides{
	width: 300%;	
	transition: transform 0.8s ease;
}

.all-photos .slides img{
	display: inline-block;
	float: left;
	width: 300px;
	height: 300px;	
}

input[type="radio"]{
	display: none;
}

